*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
    height: 100vh;
    width: 100%;
    
}
main img{
    width: 100%;
    padding: 1rem;
}
main{
    padding: 1rem;
    max-width: 320px;
    background-color: white;
    
}